{% extends "core/base.html" %}

{% block content %}
    <h2><a href="{% url 'blogs:allblogs' %}">All blogs</a>>>{{ blog.title }}</h2><br/>
    <p>{{ blog.author }}</p><br/>

    <b>{{ blog.description }}</b><br/>
    {% if blog.author == user %}
        <b><a href="{% url 'blogs:editblog' pk=blog.id %}">Редактировать</a></b><br/>
    {% endif %}
    <br/>
    <b>Posts</b><br/>
        <div>
        <form method="get" action="{% url "blogs:oneblog" pk=blog.id %}">
            Сортировать по: {{ sortform.sort }}<br/>
            Искать: {{ sortform.search }}<br/>
            <input type="submit">
        </form>
        </div>
    <br/>

    {% if blog.author == user %}
        <a href="{% url "blogs:createpost" pk=blog.id %}">Новый пост</a></br><br/>
    {% endif %}

    <div>
        {% for post in object_list %}
            <i><a href="{% url 'blogs:onepost' pk=post.id %}">{{ post.title }}</a></i>
            {% if blog.author == user %}
                <b><a href="{% url 'blogs:editpost' pk=post.id %}">Редактировать</a></b><br/>
            {% endif %}
            <i>{{ post.text }}</i><br/>
        {% endfor %}
    </div>
{% endblock %}